<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taibu</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg">
</head>
<body>
    <div class="game-container">
        <h1>taibu - ai taboo game</h1>

        <div id="setup-screen" class="screen">
            <div class="input-group">
                <select id="difficulty">
                    <option value="" disabled selected class="placeholder">select difficulty</option>
                    <option value="easy">easy</option>
                    <option value="medium">medium</option>
                    <option value="hard">hard</option>
                </select>
            </div>

            <div class="input-group">
                <input type="text" id="topic" placeholder="enter topic... e.g., foods, animals, etc.">
            </div>

            <button id="start-game">start game</button>
        </div>
         <div id="error-message" class="error-message hidden"></div>

        <div id="game-screen" class="screen hidden">
            <div class="game-info">
                <span id="difficulty-display"></span>
                <span id="topic-display"></span>
            </div>

            <div id="hint-box">
                <div class="loader" id="hint-loader"></div>
                <p id="current-hint" class="hint-fade"></p>
            </div>

            <div class="input-group">
                <input type="text" id="guess-input" placeholder="type guess and press enter">
            </div>

            <div id="wrong-guesses">
                <p>older wrong guesses:</p>
                <ul id="guesses-list"></ul>
            </div>
        </div>

        <div id="result-screen" class="screen hidden">
            <div id="result-message"></div>
            <div id="banned-words"></div>
            <button id="replay">replay</button>
        </div>

        <div class="loader" id="loader"></div>
    </div>

    <div class="footer">
        <div class="footer-content">
            <p>taibu is open source project licensed under <a href="https://opensource.org/license/MIT" target="_blank">mit license</a> | source code is available on <a href="https://github.com/mdonmez/taibu" target="_blank">github</a></p>
            <p>taibu provided as is, no warranties. made with ♡ in turkey</p>
        </div>
    </div>

    <script src="static/script.js"></script>
</body>
</html>